header {
  display: flex;
  background-color: var(--color-primary);
  width: 100%;
  height: 8.4em;
  justify-content: center;

  div {
    margin-top: 3.8rem;
    display: flex;
    justify-content: center;
    width: 10em;
    height: 10em;
    background-color: #FFF;
    border: 4px solid var(--color-secondary);
    border-radius: 50%;

    img {
      margin-top: -.6em;
    }
  }
}

section {
  margin-top: 7.2em;
  display: flex;
  justify-content: center;

  h1 {
    color: var(--font-title);
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 30pt;
  }
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .buttons {
    button {
      font-size: 1.3em;
      font-weight: bold;
      color: #FFF;
      width: 7em;
      height: 3.2em;
      outline: none;
      background-color: var(--color-primary);
      border-radius: .2em;
      margin: 0 .7em;
      transition: all .1s;
    }

    .left {
      background-color: #0000;
      color: var(--color-primary);
      border: 4px solid var(--color-primary);
    }

    .right:active {
      background-color: var(--color-secondary);
    }

    .left:active {
      color: var(--color-secondary);
      border-color: var(--color-secondary);
    }
  }

  span {
    text-align: center;
    width: 7.4em;
    margin-top: 1.7em;
    margin-bottom: 1.3em;
    font-size: 90%;
    color: #848484;
  }
}
