<!-- <app-button></app-button> -->
<ion-header>
  <app-header title='Cadastro'></app-header>
</ion-header>

<ion-content>
  <form class="cadastro">
    <app-input nome="Nome" tipo="string" legenda="Mohamed"></app-input>
    <app-input nome="Email" tipo="email" legenda="mail@email.com.br"></app-input>
    <app-input nome="Senha" tipo="password" legenda="Min 4"></app-input>
    <app-input nome="Confirmar senha" tipo="password" legenda="Coloque a senha definida"></app-input>
    <input type="checkbox" id="terms"><a href="#">Aceito os termos de uso</a>
  </form>

  <div class="options">
    <a href="#">
      <span>Criar conta</span>
    </a>
    <a href="#">
      <span>Recuperar senha</span>
    </a>
  </div>

  <footer>
    <ion-button class="btn-footer">Entrar</ion-button>
    <button class="exit">Sair</button>
  </footer>
</ion-content>
