<ion-header>
  <div class="arrow-left">
    <img src="#" alt="arrow-left">
  </div>
  <ion-title>Cadastro</ion-title>
</ion-header>

<ion-content>
<div class="form-login">
  <ion-item>
    <ion-label position="floating">Nome:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">CPF:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar senha:</ion-label>
    <ion-input></ion-input>
  </ion-item>
</div>

<div class="options">
  <input type="radio" id="terms">
  <a href="#">
    <span>Criar conta</span>
  </a>
  <a href="#">
    <span>Recuperar senha</span>
  </a>
</div>

<footer>
  <ion-button class="btn-footer">Entrar</ion-button>
  <button class="exit">Sair</button>
</footer>
</ion-content>
