<!-- <app-header></app-header> -->
<app-input tipo="string"></app-input>
<!-- <app-button></app-button> -->

<!-- Campos do formulario : Nome / Email / CPF / Senha / Confirmar senha -->

<ion-content>
  <div class="options">
    <input type="radio" id="terms">
      <a href="Aceito os Termos de Uso"></a>
    <a href="#">
      <span>Criar conta</span>
    </a>
    <a href="#">
      <span>Recuperar senha</span>
    </a>
  </div>

  <footer>
    <ion-button class="btn-footer">Entrar</ion-button>
    <button class="exit">Sair</button>
  </footer>
</ion-content>
