ion-content {
  --ion-background-color: #FFF;
  font-family: 'Nunito', sans-serif;

  main {
    margin: 2vh 2vw;

    display: flex;
    justify-content: center;

    .content {
      background-color: #F8F8F8;
      border: solid 2px #C4C4C4;
      border-radius: 5px;

      padding: 4px;
      max-width: 680px;
      width: 90vw;
    }

    ion-item {
      --ion-item-background: none;
      --ion-border-color: #D6D6D6;
      --border-width: 1px;
      --border-radius: 4px;

      color: #333;

      border-radius: 4px;
      margin: .8em;

      ion-label {
        font-size: 12pt;
        font-weight: bold;
      }

      ion-textarea {
        --padding-bottom: 12.5%;
      }

      text-align: center;
    }

    .estrelas input[type=radio] {
      display: none;
      background-color: red;
    }
  
    .estrelas label i.fa:before {
      content:'\f005';
      color: #FC0;
    }
  
    .estrelas input[type=radio]:checked ~ label i.fa:before {
      color: #CCC;
    }
  
    .estrelas {
      text-align: center;
      font-size: 40px;
    }

    .btnArea {
      display: flex;
      justify-content: center;

      .btn {
        width: 8em;
        height: 2.4em;

        margin: 2vh;

        font-size: 17.5pt;
        font-weight: 400;
        color: #FFF;

        border-radius: 6px;
        --background: var(--color-primary);
      }
    }
  } 
}
  