<ion-content>
  <header>
    <ion-icon id="arrow" size="large" name="arrow-back"></ion-icon>
    <h1>escola</h1>
    <ion-icon id="iconmenu" size="large" name="menu"></ion-icon>
  </header>

  <div class="form-login">
    
      <h1>Nomeusuario / relação</h1>
    

      <div id="estrelas">
        <p id="qt">5</p>
        <img id="star" src="../../../assets/star.png" alt="Logo">
      </div>
      
      
      <div id="avaliacao">
        <p>avaliaçãodadadadadadadadadadadahufebwfwyefvywfvywvfywvfyvwfyvwfyvwyfwvfywvfywvfywvfywvfwfyvwfyvwyfvwyfvwyvfywfywf</p>
      </div>
      
     
  </div>
   <p id="data">data</p>  

  <footer>
    <ion-button class="btn-footer">Reportar</ion-button>
    <button class="exit">sair</button>
  </footer>
</ion-content>