<ion-content>
    <header>
      <ion-icon id="arrow" size="large" name="arrow-back"></ion-icon>
      <h1>Cadastro</h1>
      <ion-icon id="iconmenu" size="large" name="menu"></ion-icon>
    </header>

    <div class="form-login">
      <ion-item>
        <ion-label position="floating">Nome:</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CPF:</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha:</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar senha:</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>


    <footer>
      <ion-button class="btn-footer">Criar conta</ion-button>
      <button class="exit">Sair</button>
    </footer>
</ion-content>