ion-content{
  --ion-background-color: #ffffff;

  .form-singup{
   // background-color: red;
    padding: 0 6vw;
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 55vh;
    max-height: 380px;
    width: 100vw;
  }

  footer {
    position: fixed;
    bottom: 0;
    height: 20vh;
    max-height: 130px;
    width: 100vw;
    display: flex;
    justify-content: center;  
  }
}