<ion-content>
    <app-header title="Cadastro"></app-header>

    <div class="form-singup">
      <app-input nome="Nome" legenda="Digite seu nome" tipo="string" ></app-input>
      <app-input nome="Email" legenda="Digite seu email" tipo="email" ></app-input>
      <app-input nome="Celular" legenda="Digite seu número" tipo="number" ></app-input>
      <app-input nome="Senha" legenda="Digite sua senha" tipo="password" ></app-input>
      <app-input nome="Confirmar senha" legenda="Redigite sua senha" tipo="password" ></app-input>
    </div>


    <footer>
      <app-button title="Cadastrar"></app-button>
    </footer>
</ion-content>