<ion-content>
  <header>
    <app-header title="Login"></app-header>
  </header>

  <div class="form-login">
    <app-input nome="CPF" tipo="string" legenda="123.456.789-00"></app-input>
    <app-input nome="Senha" tipo="password" legenda="Mínimo 4 caracteres"></app-input>
  </div>

  <div class="options">
    <a href="#">
      <span>Criar conta</span>
    </a>
    <a href="#">
      <span>Recuperar senha</span>
    </a>
  </div>

  <footer>
    <app-button content="Login"></app-button>
    <app-exit></app-exit>
  </footer>
</ion-content>