<ion-content>
  <header>
    <div class="arrow-left">
      <img src="../../../assets/left-arrow.svg" alt="arrow-left" width="25px">
    </div>
    <h1>Login</h1>
  </header>

  <div class="form-login">
    <ion-item>
      <ion-label>CPF:</ion-label>
      <ion-input type="string" placeholder="123.456.789.00"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Senha:</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </div>

  <div class="options">
    <a href="#">
      <span>Criar conta</span>
    </a>
    <a href="#">
      <span>Recuperar senha</span>
    </a>
  </div>

  <footer>
    <ion-button class="btn-footer">Entrar</ion-button>
    <button class="exit">sair</button>
  </footer>
</ion-content>