<ion-content>
  <header>
    <ion-icon id="arrow" size="large" name="arrow-back"></ion-icon>
    <h1> Escola</h1>
    <ion-icon id="iconmenu" size="large" name="menu"></ion-icon>
  </header>

  <div class="form-login">
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="string"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input type="email" placeholder="Ex: escolaluz@luz.com"></ion-input> 
    </ion-item>

    <ion-item>
      <ion-label>Telefone</ion-label>
      <ion-input type="number" placeholder="Ex: 71 3333-3333"></ion-input> 
    </ion-item>

    <ion-item>
      <ion-label>Endereço</ion-label>
      <ion-input type="string" placeholder="Ex: Avenida Luz, N°15 - Salvador/Ba"></ion-input>
    </ion-item>


  </div>





  <footer>
    <ion-button class="btn-footer">Cadastrar</ion-button>
    <button class="exit">sair</button>
  </footer>
</ion-content>