ion-content {
  --ion-background-color: #FFF;
  font-family: 'Nunito', sans-serif;

  ion-item {
    text-align: center;

    --background: none;
    --border-style: none;

    .conteudo {
      width: 82vw;
      max-width: 600px;
      padding: 6px;

      margin: 6vh auto 0;

      border: 2px solid #C4C4C4;
      border-radius: 4px;
      background-color: #F8F8F8;


      span {
        color: #333;
        
        font-weight: bold;
        line-height: 30px;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;

    height: 14vh;
    width: 100%;

    display: flex;
    justify-content: center;

    .btn-footer {
      width: 8em;
      height: 2.4em;

      font-size: 17.5pt;
      font-weight: 400;
      color: #FFF;

      border-radius: 6px;
      --background: var(--color-primary);
    }
  }
}
  