ion-content {
  --ion-background-color: #FFF;
  font-family: 'Nunito', sans-serif;

  section {
    position: relative;
    height: 56vh;
    max-height: 500px;
    .form-login {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30vh;
      max-height: 280px;
      

      .inputs {
        width: 100vw;
        margin: 0 6vw;
        height: 20vh;
        max-height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
    
    .options {
      height: 10vh;
      width: 100vw;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      bottom: 0;
    }
  }
  footer {
    position: fixed;
    bottom: 0;
    height: 20vh;
    max-height: 130px;
    width: 100vw;
    display: flex;
    justify-content: center;  
  }
}
