<ion-content>
  <app-header title="Login"></app-header>
  
  <div class="form-login">
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" [(ngModel)]= "userLogin.email" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Senha:</ion-label>
      <ion-input type="password" [(ngModel)]= "userLogin.password"></ion-input>
    </ion-item>
    
    <div class="options">
      <button class="option" id="newConta" [routerLink]="['/sing-up']">Criar conta.</button>
      <button class="option" (click)="enviarSenha()">Esqueceu senha?</button>
    </div>
  </div>

  <footer>
    <ion-button class="btn-footer" (click)="login()">Entrar</ion-button>
  </footer>
</ion-content>