ion-content {
  --ion-background-color: #FFF;
  font-family: 'Nunito', sans-serif;

  section {
    position: relative;
    height: 40vh;
    .form-login {
      display: flex;
      justify-content: center;
      align-items: center;

      
      height: 30vh;
      max-height: 280px;

      .inputs {
        width: 100vw;
        margin: 0 6vw;
        height: 20vh;
        max-height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
    
    .options {
      height: 10vh;
      width: 100vw;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      bottom: 0;
    }
  }
  footer {
    position: fixed;
    bottom: 0;
    height: 30vh;
    max-height: 180px;
    width: 100vw;
    display: flex;
    justify-content: center;
    .button-div {
      //background-color: red;
      
    }
  }

  // .inputs {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
    
  //   height: 18vh; 
  // }

  // ion-item {
  //   border-radius: .4em;
  //   margin: .8em;
  //   background-color:gray;

  //   ion-label {
  //     font-size: 13pt;
  //     font-weight: bold;
  //   }
  // }

  // .options, footer {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }

  // .options {
  //   margin-top: 11.2em;
  //   display: flex;
  //   justify-content: center;
  //   flex-direction: column;
  //   a {
  //     margin: .4em;
  //     text-decoration: none;
  //     font-size: 12pt;
  //   }
  // }


  // footer {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   height: 8em;

  //   .btn-footer {
  //     font-size: 17.5pt;
  //     width: 8em;
  //     height: 2.4em;
  //     font-weight: 400;
  //     background-color: var(--color-primary);
  //     color: #FFF;
  //     border-radius: 6px;
  //   }
  //   .exit {
  //     color: var(--color-exit);
  //     font-weight: bold;
  //     margin-top: .6em;
  //     font-size: 16pt;
  //     font-weight: 400;
  //     background-color: #0000;
  //   }
  // }
}
