button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: #ffffff;
    width: 80vw;
    max-width: 200px;
    height: 20vh;
    max-height: 60px;
    font-size: 1.6rem;
    border-radius: 5px;
}